@import "./normalize.css";

:root {
  --color-ele-blue: #4294f7;
  --color-light-text: #6e6e6e;
  --color-black-text: #686868;
  --font-size: 14px;
  --line-height: 1.5;
  --star-color: #ff9900;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
